global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  # chroot /var/lib/haproxy
  # user haproxy
  # group haproxy
  # daemon

defaults
  log global
  mode http
  # option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats 
  bind 0.0.0.0:8080
  stats enable
  stats uri /

listen l1 
    bind 0.0.0.0:3000
    mode tcp
    # timeout connect  4000
    # timeout client   180000
    # timeout server   180000
    server srv1 192.168.99.100

listen l2
    bind 0.0.0.0:80
    mode tcp
    # timeout connect  4000
    # timeout client   180000
    # timeout server   180000
    server srv1 192.168.99.100